#map-component{
  height: 450px;
  width: 450px;
}

#console-top-row{
  display: flex;
  justify-content: space-around;
}

#console-bottom-row{
  display: flex;
  justify-content: space-around;
}

.component-header{
  text-align: center;
}
