#map-component{
  height: 450px;
  width: 450px;
}

#pie-chart{
  height: 450px;
  width: 450px;
}

#console-top-row{
  display: flex;
  justify-content: space-around;
  color: white;
}

#console-bottom-row{
  display: flex;
  justify-content: space-around;
  color: white;
}

.component-header{
  text-align: center;
  color: white;
}

#navbar{
  background-color: #2c2d2d;
  padding: 10px;
}
#navbar a{
  color: white;
  padding: 10px;
}

#navbar a:hover{
  background-color: #373838;
}

#top-user-table{
  border-radius: 25px;
  background: rgba(200, 200, 200, 0.2);
}

table, th, td {
  border: 2px solid white;
  border-collapse: collapse;

}

td {
  width: 120px;
}

.other-cols{
  text-align: center;
}

.first-col{
  padding-left: 1em;
}
